$textSize: 24px;

@mixin font-face($fontFamily,$fontFile) {
  src: url($fontFile);
  font-family: $fontFamily;
  font-weight: 400;
}

/* A class */
@font-face {
   @include font-face("F0ntUni A", "../A/f0ntuni-a.otf");
}
.f0ntuni-a {
  font-family: "F0ntUni A";
}

/* B Class */
@font-face {
   @include font-face("F0ntUni B", "../B/f0ntuni-b.otf");
}
.f0ntuni-b1 {
  font-family: "F0ntUni B"
}

@font-face {
   @include font-face("F0ntUni B Pali", "../B/f0ntuni-b-pali.otf");
}
.f0ntuni-b2 {
  font-family: "F0ntUni B Pali"
}

body {
  font-size: $textSize;
  line-height: 1.5em;
  font-family: "F0ntUni A", sans-serif;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 800px;
}

h1,h2,h3,h4,h5,h6,strong {
  font-weight: 400;
}

.info {
  font-size: 16px;
  line-height: 1.5em;
}

.pi-salt {
  -moz-font-feature-settings:"salt" 1; 
  -moz-font-feature-settings:"salt=1"; 
  -ms-font-feature-settings:"salt" 1; 
  -o-font-feature-settings:"salt" 1; 
  -webkit-font-feature-settings:"salt" 1; 
  font-feature-settings:"salt" 1;
}

.pi-ss01 {
  -moz-font-feature-settings:"ss01" 1; 
  -moz-font-feature-settings:"ss01=1"; 
  -ms-font-feature-settings:"ss01" 1; 
  -o-font-feature-settings:"ss01" 1; 
  -webkit-font-feature-settings:"ss01" 1; 
  font-feature-settings:"ss01" 1;
}
