<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>uni0E2D</key>
	<string>uni0E_2D_.glif</string>
	<key>uni0E01</key>
	<string>uni0E_01.glif</string>
	<key>uni0E17</key>
	<string>uni0E_17.glif</string>
	<key>uni0E19</key>
	<string>uni0E_19.glif</string>
	<key>uni0E21</key>
	<string>uni0E_21.glif</string>
	<key>uni0E1A</key>
	<string>uni0E_1A_.glif</string>
	<key>uni0E1B</key>
	<string>uni0E_1B_.glif</string>
	<key>uni0E04</key>
	<string>uni0E_04.glif</string>
	<key>uni0E05</key>
	<string>uni0E_05.glif</string>
	<key>uni0E02</key>
	<string>uni0E_02.glif</string>
	<key>uni0E03</key>
	<string>uni0E_03.glif</string>
	<key>uni0E06</key>
	<string>uni0E_06.glif</string>
	<key>uni0E07</key>
	<string>uni0E_07.glif</string>
	<key>uni0E16</key>
	<string>uni0E_16.glif</string>
	<key>uni0E2E</key>
	<string>uni0E_2E_.glif</string>
	<key>uni0E20</key>
	<string>uni0E_20.glif</string>
	<key>uni0E14</key>
	<string>uni0E_14.glif</string>
	<key>uni0E15</key>
	<string>uni0E_15.glif</string>
	<key>uni0E33</key>
	<string>uni0E_33.glif</string>
	<key>uni0E08</key>
	<string>uni0E_08.glif</string>
	<key>uni0E09</key>
	<string>uni0E_09.glif</string>
	<key>uni0E0A</key>
	<string>uni0E_0A_.glif</string>
	<key>uni0E0B</key>
	<string>uni0E_0B_.glif</string>
	<key>uni0E0C</key>
	<string>uni0E_0C_.glif</string>
	<key>uni0E0D</key>
	<string>uni0E_0D_.glif</string>
	<key>uni0E13</key>
	<string>uni0E_13.glif</string>
	<key>uni0E12</key>
	<string>uni0E_12.glif</string>
	<key>uni0E11</key>
	<string>uni0E_11.glif</string>
	<key>uni0E24</key>
	<string>uni0E_24.glif</string>
	<key>uni0E26</key>
	<string>uni0E_26.glif</string>
	<key>uni0E27</key>
	<string>uni0E_27.glif</string>
	<key>uni0E28</key>
	<string>uni0E_28.glif</string>
	<key>uni0E29</key>
	<string>uni0E_29.glif</string>
	<key>uni0E2B</key>
	<string>uni0E_2B_.glif</string>
	<key>uni0E1E</key>
	<string>uni0E_1E_.glif</string>
	<key>uni0E1F</key>
	<string>uni0E_1F_.glif</string>
	<key>uni0E1D</key>
	<string>uni0E_1D_.glif</string>
	<key>uni0E1C</key>
	<string>uni0E_1C_.glif</string>
	<key>uni0E25</key>
	<string>uni0E_25.glif</string>
	<key>uni0E2A</key>
	<string>uni0E_2A_.glif</string>
	<key>uni0E2C</key>
	<string>uni0E_2C_.glif</string>
	<key>uni0E22</key>
	<string>uni0E_22.glif</string>
	<key>uni0E10</key>
	<string>uni0E_10.glif</string>
	<key>uni0E23</key>
	<string>uni0E_23.glif</string>
	<key>uni0E18</key>
	<string>uni0E_18.glif</string>
	<key>uni0E0E</key>
	<string>uni0E_0E_.glif</string>
	<key>uni0E0F</key>
	<string>uni0E_0F_.glif</string>
	<key>uni0E31</key>
	<string>uni0E_31.glif</string>
	<key>uni0E34</key>
	<string>uni0E_34.glif</string>
	<key>uni0E35</key>
	<string>uni0E_35.glif</string>
	<key>uni0E36</key>
	<string>uni0E_36.glif</string>
	<key>uni0E37</key>
	<string>uni0E_37.glif</string>
	<key>uni0E4D</key>
	<string>uni0E_4D_.glif</string>
	<key>uni0E32</key>
	<string>uni0E_32.glif</string>
	<key>uni0E38</key>
	<string>uni0E_38.glif</string>
	<key>uni0E3A</key>
	<string>uni0E_3A_.glif</string>
	<key>uni0E39</key>
	<string>uni0E_39.glif</string>
	<key>uni0E49</key>
	<string>uni0E_49.glif</string>
	<key>uni0E48</key>
	<string>uni0E_48.glif</string>
	<key>uni0E4B</key>
	<string>uni0E_4B_.glif</string>
	<key>uni0E40</key>
	<string>uni0E_40.glif</string>
	<key>uni0E41</key>
	<string>uni0E_41.glif</string>
	<key>uni0E2F</key>
	<string>uni0E_2F_.glif</string>
	<key>uni0E30</key>
	<string>uni0E_30.glif</string>
	<key>uni0E4A</key>
	<string>uni0E_4A_.glif</string>
	<key>uni0E47</key>
	<string>uni0E_47.glif</string>
	<key>uni0E4C</key>
	<string>uni0E_4C_.glif</string>
	<key>uni0E43</key>
	<string>uni0E_43.glif</string>
	<key>uni0E44</key>
	<string>uni0E_44.glif</string>
	<key>uni0E42</key>
	<string>uni0E_42.glif</string>
	<key>uni0E45</key>
	<string>uni0E_45.glif</string>
	<key>uni0E46</key>
	<string>uni0E_46.glif</string>
	<key>uni0E48.nik</key>
	<string>uni0E_48.nik.glif</string>
	<key>uni0E49.nik</key>
	<string>uni0E_49.nik.glif</string>
	<key>uni0E4A.nik</key>
	<string>uni0E_4A_.nik.glif</string>
	<key>uni0E4B.nik</key>
	<string>uni0E_4B_.nik.glif</string>
	<key>uni0E0D.descless</key>
	<string>uni0E_0D_.descless.glif</string>
	<key>uni0E10.descless</key>
	<string>uni0E_10.descless.glif</string>
    </dict>
</plist>
